@charset "utf-8";

/* Font */
.pop-font {
    font-family: "Hachi Maru Pop", cursive;
    font-weight: 400;
    font-style: normal;
}


/* Headers */
.header-img {
    text-align: center;
}
.header-img-data {
    width: 13em;
    height: 13em;
    border-radius: 50%;
    object-fit: cover;
}
.header-title {
    font-size: 5em;
    text-align: center;
}

/* Flag */
#flag {
    display: none;
}
.flag {
    text-align: center;
}
.flag-title {
    font-size: xx-large;
}

/* Latest Video */
.latest-video {
    text-align: center;
}
.latest-video-title {
    font-size: xx-large;
}

/* News */
.news {
    text-align: center;
}
.news-title {
    font-size: xx-large;
}
.articles {
    display: flex;
    justify-content: center;
    align-items: center;
}
.article-card {
    display: flex;
    justify-content: center;
    width: 60em;
    height: 8em;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,.2)
}
.article-text {
    margin: 1em;
}
.article-title {
    font-size: large;
}