@charset "utf-8";

/* Font */
.pop-font {
    font-family: "Hachi Maru Pop", cursive;
    font-weight: 400;
    font-style: normal;
}


/* Headers */
.header-img {
    text-align: center;
}
.header-img-data {
    width: 13em;
    height: 13em;
    border-radius: 50%;
    object-fit: cover;
}
.header-title {
    font-size: 5em;
    text-align: center;
}

/* Flag */
#flag {
    display: none;
}
.flag {
    text-align: center;
}
.flag-title {
    font-size: xx-large;
}

/* Latest Video */
.latest-video {
    text-align: center;
}
.latest-video-title {
    font-size: xx-large;
}

/* News */
.news {
    text-align: center;
}
.news-title {
    font-size: xx-large;
}
.article-card {
    display: flex;
}